<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <%= stylesheet_link_tag "pages", "data-turbo-track": "reload" %>
</head>
<body>
  <div class="container">
    <div class="sidebar">
      <ul>
        <li><a href="#">Dashboard</a></li>
        <li><a href="#">New message</a></li>
        <li><a href="#">Scheduled messages</a></li>
        <li><a href="#">Histories</a></li>
        <li><a href="#">Message templates</a></li>
        <li><a href="#">Users</a></li>
      </ul>
    </div>
    <div class="content">
      <h1>Welcome to the Mantenbot application</h1>
    </div>
  </div>
</body>
</html>

